swagger: '2.0'
info:
  version: 1.0.0
  title: D365BCopenapi20
  description: D365 Business Central Custom connector
  contact:
    name: Dmytro Radomtsev
    email: d.radomtsev@gmail.com
host: api.businesscentral.dynamics.com
basePath: /
schemes:
 - https
paths:
  /environments/v1.1:
    get:
      tags:
        - environment
      description: Get D365 BC environments data
      security:
        - OAuth2: ['https://api.businesscentral.dynamics.com/.default']
      produces:
        - application/json
      responses:
        200:
          description: Get D365 BC envs
          schema:
              $ref: '#/definitions/envResponse200'
      summary: Get D365 BC environments
      operationId: get_d365_bc_env
      x-ms-visibility: advanced
  /v2.0/{environmentName}/api/microsoft/automation/v2.0/companies:
    get:
      tags:
        - companies
      description: Get all companies in environment
      parameters:
        - in: path
          name: environmentName
          type: string
          required: true
          description: Environment name
      security:
        - OAuth2: ['https://api.businesscentral.dynamics.com/.default']
      produces:
        - application/json
      responses:
        200:
          description: Get D365 BC companies in specified environment
          schema:
              $ref: '#/definitions/compResponse200'
      summary: Get D365 BC companies in environment
      operationId: get_d365_bc_comp_in_env
      x-ms-visibility: important
  /v2.0/{environmentName}/api/microsoft/automation/v2.0/companies({companyId})/configurationPackages:
    get:
      tags:
        - configurationPackages
      description: Get all companies in environment
      parameters:
        - in: path
          name: environmentName
          type: string
          required: true
          description: Environment name
        - in: path
          name: companyId
          type: string
          required: true
          description: Company Id
      security:
        - OAuth2: ['https://api.businesscentral.dynamics.com/.default']
      produces:
        - application/json
      responses:
        200:
          description: Get D365 BC configuration packages in specified company
          schema:
              $ref: '#/definitions/confPackResponse200'
      summary: Get D365 BC configuration packages in specified company
      operationId: get_d365_bc_confpacks_in_comp
      x-ms-visibility: important
definitions:
  envResponse200:
    type: object
    properties:
      value: 
        type: array
        items: 
          type: object
          properties:
            aadTenantId: 
              type: string
            applicationFamily: 
              type: string
            type: 
              type: string
            name: 
              type: string
            countryCode: 
              type: string
            webServiceUrl: 
              type: string
            webClientLoginUrl: 
              type: string
  compResponse200:
    type: object
    properties:
      value: 
        type: array
        items: 
          type: object
          properties:
            id: 
              type: string
            systemVersion: 
              type: string
            typename:
              type: integer
            name: 
              type: string
            displayName: 
              type: string
            businessProfileId: 
              type: string
            systemCreatedAt: 
              type: string
            systemCreatedBy: 
              type: string
            systemModifiedAt: 
              type: string
            systemModifiedBy: 
              type: string
  confPackResponse200:
    type: object
    properties:
      value: 
        type: array
        items: 
          type: object
          properties:
              id: 
                type: string
              code: 
                type: string
              packageName: 
                type: string
              languageId: 
                type: integer
                format: int32
              productVersion: 
                type: string
              processingOrder: 
                type: integer
                format: int32
              excludeConfigurationTables: 
                type: boolean
              numberOfTables: 
                type: integer
                format: int32
              numberOfRecords: 
                type: integer
                format: int32
              numberOfErrors: 
                type: integer
                format: int32
              importStatus: 
                type: string
              applyStatus: 
                type: string
              applyError: 
                type: string
              importError: 
                type: string
securityDefinitions:
  OAuth2:
      type: oauth2
      description: PWA auth engine with authorization code
      flow: accessCode
      authorizationUrl: https://login.microsoftonline.com/a4f698ed-bedd-4482-9998-4e5ddbad13f7/oauth2/v2.0/authorize
      tokenUrl: https://login.microsoftonline.com/a4f698ed-bedd-4482-9998-4e5ddbad13f7/oauth2/v2.0/token
      scopes:
        https://api.businesscentral.dynamics.com/.default: https://api.businesscentral.dynamics.com/.default
security:
  - OAuth2:
    - https://api.businesscentral.dynamics.com/.default
tags:
  - name: environment
    description: d365 bc environments data
  - name: companies
    description: d365 bc companies in environment
  - name: configurationPackages
    description: d365 bc configuration packages in comapny