swagger: '2.0'
info:
  version: 1.0.0
  title: D365BCopenapi20
  description: D365 Business Central Custom connector
  contact:
    name: Dmytro Radomtsev
    email: d.radomtsev@gmail.com
tags:
  - name: environment
    description: environments data
securityDefinitions:
  OAuth2:
      type: oauth2
      description: PWA auth engine with authorization code
      flow: accessCode
      authorizationUrl: https://login.microsoftonline.com/a4f698ed-bedd-4482-9998-4e5ddbad13f7/oauth2/v2.0/authorize
      tokenUrl: https://login.microsoftonline.com/a4f698ed-bedd-4482-9998-4e5ddbad13f7/oauth2/v2.0/token
      scopes:
        https://api.businesscentral.dynamics.com/.default: Grants access to crud operations
schemes:
 - https
host: api.businesscentral.dynamics.com
basePath: /
paths:
  /environments/v1.1:
    get:
      tags:
        - environment
      description: Get D365 BC environments data
      security:
        - OAuth2: ['https://api.businesscentral.dynamics.com/.default']
      produces:
        - application/json
      responses:
        200:
          description: Get D365 BC envs
          schema:
              $ref: '#/definitions/envResponse200'
definitions:
  envResponse200:
    type: object
    properties:
      value: 
        type: array
        items: 
          type: object
          properties:
            aadTenantId: 
              type: string
            applicationFamily: 
              type: string
            type: 
              type: string
            name: 
              type: string
            countryCode: 
              type: string
            webServiceUrl: 
              type: string
            webClientLoginUrl: 
              type: string